* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
  width: 5px;
  background-color:  rgb(100, 100, 100);
}

::-webkit-scrollbar-thumb{
  width: 5px;
  background: rgb(55, 55, 55);
  border-radius: 5px;
}
.link {
  text-decoration: none;
  color: inherit;

}
.cursor-pointer {
  cursor: pointer;
}